---
import type { Person } from "@/sanity/types";
import { client } from "@/sanity/client";
import groq from "groq";
import Layout from "@/layouts/Layout.astro";
import BoardYear from "@/components/board/BoardYear.svelte";

const query = groq`
  *[_type == "board"] | order(year desc) {
    year,
    members[]{
      title,
      terms,
      person->
    }
  }
`;
type QueryResult = {
  year: number;
  members: {
    title: string;
    terms: string[];
    person: Person;
  }[];
}[];
const boards = await client.fetch<QueryResult>(query);
---

<Layout>
  <title slot="head">Board — {import.meta.env.PUBLIC_NAME}</title>

  {
    boards.map((board) => (
      <BoardYear year={board.year} boardMembers={board.members} />
    ))
  }
</Layout>
