---
import type { BoardMemberFrontmatter } from "club-org-utils";
import { getBoardCache } from "@/cache/board";
import Layout from "@/layouts/Layout.astro";
import BoardYear from "@/components/board/BoardYear.svelte";

const boardMembers = await Astro.glob<BoardMemberFrontmatter>(
  "@content/board/**/*.md"
);
const boardMemberImages = await Astro.glob("@content/board/**/*.{svg,png}");

const board = getBoardCache(boardMembers, boardMemberImages);
---

<Layout>
  <title slot="head">Board — {import.meta.env.PUBLIC_NAME}</title>

  {
    [...board].map(([year, boardMembers]) => (
      <BoardYear year={year} boardMembers={boardMembers} />
    ))
  }
</Layout>
