---
import "../styles/colors.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>

  <!-- Permanently set dark-theme class so Radix dark scales apply when prefers-color-scheme is dark. -->
  <body class="dark-theme">
    <h1>Astro</h1>
  </body>
</html>
