---
import type { SponsorFrontmatter } from "club-org-utils";
import { getSponsorCache } from "@/cache/sponsors";
import Layout from "@/layouts/Layout.astro";
import SponsorYear from "@/components/sponsors/SponsorYear.svelte";

const sponsors = await Astro.glob<SponsorFrontmatter>(
  "@content/sponsors/**/*.md"
);
const sponsorLogos = await Astro.glob("@content/sponsors/**/*.png");

const sponsor = getSponsorCache(sponsors, sponsorLogos);
---

<Layout>
  <title slot="head">Sponsors — {import.meta.env.PUBLIC_NAME}</title>

  {
    [...sponsor].map(([year, sponsors]) => (
      <SponsorYear year={year} sponsors={sponsors} />
    ))
  }
</Layout>
