---
import "@/styles/global.scss";
// https://github.com/withastro/astro/issues/2921
import Header from "../components/layout/header/Header.svelte";
import Socials from "../components/layout/socials/Socials.svelte";
import Footer from "@/components/layout/footer/Footer.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <!-- <meta name="theme-color" content="#ffffff" /> -->

    <script
      defer
      data-domain="cyberuci.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
    <slot name="head" />
  </head>

  <!-- Permanently set dark-theme class so Radix dark scales apply when prefers-color-scheme is dark. -->
  <body class="dark-theme">
    <Header client:load pathname={Astro.url.pathname} />
    <main>
      <slot />
    </main>
    <Socials client:idle />
    <Footer />
    <style lang="scss">
      body {
        margin: 0;
        padding: 0 24px;

        @media (max-width: 480px) {
          padding: 0 16px;
        }
      }
    </style>
  </body>
</html>
