---
import "@/styles/global.scss";
// https://github.com/withastro/astro/issues/2921
import Header from "../components/layout/Header.svelte";
import Socials from "../components/layout/Socials.svelte";
import Footer from "@/components/layout/Footer.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script
      defer
      data-domain="cyberuci.com"
      src="https://plausible.io/js/plausible.js"
    ></script>
    <slot name="head" />
  </head>

  <!-- Permanently set dark-theme class so Radix dark scales apply when prefers-color-scheme is dark. -->

  <Header client:load pathname={Astro.url.pathname} />
  <main>
    <slot />
  </main>
  <Socials client:idle />
  <Footer />
  <style lang="scss">
    body {
      margin: 0;
      padding: 0 24px;

      @media (max-width: 480px) {
        padding: 0 16px;
      }
    }
  </style>


</html>
