---
import type { EventFrontmatter } from "club-org-utils";
import { getEventCache } from "@/cache/events";
import Layout from "@/layouts/Layout.astro";
import EventListYear from "@/components/events/EventListYear.svelte";

const eventsGlob = await Astro.glob<EventFrontmatter>(
  "@content/events/**/*.md"
);
const events = getEventCache(eventsGlob);
---

<Layout>
  <title slot="head">Events — {import.meta.env.PUBLIC_NAME}</title>

  {
    [...events].map(([year, eventListYear]) => (
      <EventListYear year={year} eventListYear={eventListYear} />
    ))
  }
</Layout>
