---
import type { EventFrontmatter } from "club-org-utils";
import { getEventCache, getCapitalizedTerm } from "@/cache/events";
import Layout from "@/layouts/Layout.astro";

export const getStaticPaths = async () => {
  const eventsGlob = await Astro.glob<EventFrontmatter>(
    "@content/events/**/*.md"
  );
  const events = getEventCache(eventsGlob);

  return [...events]
    .map(([year, eventListYear]) =>
      [...eventListYear].map(([term, eventListTerm]) =>
        [...eventListTerm].map(([slug]) => ({
          params: { year: year.toString(), term: term.toLowerCase(), slug },
        }))
      )
    )
    .flat();
};

const { year, term, slug } = Astro.params;
const capitalizedTerm = getCapitalizedTerm(String(term))!;

const eventsGlob = await Astro.glob<EventFrontmatter>(
  "@content/events/**/*.md"
);
const events = getEventCache(eventsGlob);

const { title, date, Content } = events
  .get(Number(year))!
  .get(capitalizedTerm)!
  .get(String(slug))!;

const localeString = date.toLocaleString("en-US", {
  weekday: "short",
  month: "short",
  day: "numeric",
  hour: "numeric",
  minute: "numeric",
  hour12: true,
});
---

<Layout>
  <title slot="head">{title} — {import.meta.env.PUBLIC_NAME}</title>

  <h1>{title}</h1>
  <span>{localeString}</span>
  <div class="content">
    <Content />
  </div>
</Layout>

<style>
  h1 {
    margin: 24px 0 8px 0;
    font-size: 2rem;
    font-weight: 500;
  }

  span {
    display: block;
    color: var(--gray11);
    margin-bottom: 36px;
  }

  .content {
    max-width: 960px;
  }
</style>
